<h1 class="ui header"><%= t('view.start.title') %></h1>

<%= link_to t('view.start.cal_only'), "../go-auth?auth_type=1" %>
<br />
<%= link_to t('view.start.cal_drive'), "../go-auth?auth_type=2"  %>
<br />
