<div class="two fields">
  <div class="field">
    <%= link_to 'back to start page', "../", class: "tiny ui button" %>
</div>

<div class="field">
<%= link_to 'Signout for google account',  "/signout", class: "tiny ui button"  %>
</div>
</div>
